@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/ ../fonts/PlayfairDisplay-BlackItalic.woff2')
      format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-Bold.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-Italic.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-Black.woff2') format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/ ../fonts/PlayfairDisplaySC-BlackItalic.woff2')
      format('woff2'),
    url('../fonts/ ../fonts/PlayfairDisplaySC-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: Playfair Display, Roboto, sans-serif;
}
